{% set subscribeBg = "background-image: url('"~network.templatePath~"/static/images/demo.jpg');"%}
<div class="subscribe__wrapper text-center bgImg image-covered" style="{{subscribeBg}}">
    <div class="subscribe__wrapper-content extended-space">
        <h2>Make it happen</h2>
        <p>Monash University has a large range of flexible study options that can be tailored to your needs and with intake periods throughout the year - now is the ideal time to start planning your Monash University future.</p>
        <button class="button uppercase" style="color: #fff; background-color: transparent;">Study at Monash</button>
    </div>
</div>