{% set subscribeBg = "background-image: url('"~network.templatePath~"/static/images/demo.jpg');"%}
<div class="subscribe__wrapper text-center bgImg image-covered" style="{{subscribeBg}}">
    <div class="subscribe__wrapper-content">
        <h2>Get updates that matter</h2>
        <form class="form-section">
            <input class="form-control" type="text" placeholder="Enter your email" />
            <button class="button button-sized" style="color: #fff; background-color: transparent;" type="submit">Subscribe</button>
        </form>
        <div class="small-text">
            by submitting your email you agree to our <a href="javascript:;">Terms and Conditions</a> and <a href="javascript:;">Privacy Policy</a>
        </div>
    </div>
</div>