/* Page Header section
================================ */
.header {
    @include padding(23px 15px);
    position: fixed;
    z-index: 999;
    width: $viewportSize;
    @include transition(all 0.3s ease);
    &__fixed {
        background: rgba($white, 0.9) none repeat scroll 0 0;
        @include padding(15px);
        .logo {
            &__main {
                display: none !important;
            }
            &__scroll {
                display: block !important;
            }
        }
        .navigation__main .menu-bar i, .navigation__search .button i {
            color: $zblack;
        }
        .navigation__search .form-control {
            border-color: $zblack;
        }
    }
    &__main {
        justify-content: space-between;
        align-items: center;
        .logo {
            &__main {
                display: block;
                height: 35px; 
            }
            &__scroll {
                display: none;
                height: 35px;
            }
        }
    }
}