/* Page Footer section
================================ */
.footer {
    &__top {
        position: relative;
        background: $zblack none repeat scroll 0 0 !important;
/*        &:before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            @include size($viewportSize);
            background: rgba($blue,0.9) none repeat scroll 0 0; 
            z-index: 10;
        }*/
        &-content {
            position: relative;
            z-index: 11;
            color: $white;
            text-align: center;
            @include padding(20px);
        }
        h2 {
            @include font-size(20); 
        }
        &-listing {
            ul li {
                display: inline-block;
                @include padding(20px 0 0);
                a {
                    color :$white;
                    @include font-size(28);
                    display: block;
                }
                + li {
                    margin-left: 30px;
                }
            }
        }
    }
    
    &__main {
        @include padding(25px 0 40px);
        background: $zblack none repeat scroll 0 0;
        &-content {
            &-listing {
                ul {
                    li {
                        a {
                            @include transition(all 0.3s ease);
                            display: block;
                            color: darken($white, 8%);
                            &:hover, &:focus {
                                color: $white;
                            }
                        }
                        + li {
                            margin-top: 5px;
                        }
                    }
                }
                &.multiple {
                    ul {
                        width: 50%;
                        float: left;
                        @media #{$media-tablet} {
                            width: $viewportSize;
                        }
                    }
                }
            }
            &-logo {
                a {
                    display: block;
                    img {
                        height: 60px; 
                    }
                }
            }
            .disclaimer-text {
                @include font-size(11);
                color: darken($white, 8%); 
                margin-top: 40px;
                line-height: 1.5;
            }
        }
    }
}