/* articles section
================================ */
.article {
    &__wrapper {
        background: $defaultbg none repeat scroll 0 0;
    }
    &__slides {
        &-content {
            @include padding-bottom(5px);
            overflow: hidden;
            position: relative;
            ul {
                width: $viewportSize;
                li {
                    margin-top: 8px;
                    width: $viewportSize;
                    height: 500px;
                    float: left;
                    position: relative;
                    @media #{$media-ipadSmall} {
                        display: none !important;
                    }
                    &:first-child {
                        margin-right: 8px;
                        width: calc(#{$viewportSize} / 2 - 8px) !important;
                        @media #{$media-ipadSmall} {
                            display: block !important; 
                        }
                    }
                    @media #{$media-ipadSmall} {
                        height: 300px;
                    }
                    img {
                        @include size(#{$viewportSize});
                        object-fit: cover;
                    }
                    .icons {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include translate(-50%,-50%);
                        @include size(60px);
                        border: 1px solid $white;
                        @include border-radius(50%);
                        text-align: center;
                        i {
                            @include font-size(22);
                            line-height: 60px;
                            color: $white;
                        }
                    }
                }
            }
            &.oneSlide {
                ul li {
                    &:first-child {
                        margin-right: 0px;
                        width: $viewportSize !important;
                    }
                }
            }
            &.twoSlide {
                ul li {
                    width: calc(#{$viewportSize} / 2);
                    &:nth-child(2) {
                        height: 500px;
                        @media #{$media-ipadSmall} {
                            height: 300px;
                        }
                    }
                    @media #{$media-tablet} {
                        height: 150px !important;                        
                    }
                }
            } 
            &.fourSlide, &.threeSlide {
                ul li {
                    width: calc(#{$viewportSize} / 2);
                    &:nth-child(2) {
                        height: 272px;
                    }
                    &:nth-child(3), &:nth-child(4) {
                        height: 220px;
                        width: calc(#{$viewportSize} / 4);
                    }
                    &:nth-child(3) {
                        margin-right: 8px;
                        width: calc(#{$viewportSize} / 4 - 8px);
                    }
                    @media #{$media-ipadSmall} {
                        &:first-child {
                            width: $viewportSize !important;
                        }
                        &:nth-child(2), &:nth-child(3) {
                            margin-right: 8px  !important;
                            width: calc(#{$viewportSize} / 3 - 8px) !important;
                            height: 200px;
                        }
                        &:last-child {
                            width: calc(#{$viewportSize} / 3) !important;
                            height: 200px;
                        }
                    }
                    @media #{$media-tablet} {
                        &:first-child {
                            height: 150px;
                        }
                        &:nth-child(2), &:nth-child(3), &:last-child {
                            height: 100px;
                        } 
                    }
                }
            }
            &.fourSlide {
                ul li {

                }
            }
            &.threeSlide {
                ul li { 
                    &:nth-child(3) {  
                        margin-right: 0px !important;
                        width: calc(#{$viewportSize} / 2);
                    }
                    @media #{$media-ipadSmall} {
                        &:nth-child(2), &:nth-child(3) {
                            width: calc(#{$viewportSize} / 2) !important;
                        }
                        &:nth-child(2) {
                            width: calc(#{$viewportSize} / 2 - 8px) !important; 
                        }
                    }
                }
            }
        }
        &-link {
            position: absolute;
            bottom: 35px;
            right: 0;
            width: 150px;
            background: rgba($black, 0.5);
            text-align: center;
            a {
                color: $white;
                @include padding(15px);
                text-transform: uppercase;
                display: block;
                font-weight: $weightBold;
            }
        }
    }
    &__main {
        background: $white none repeat scroll 0 0;
        @include padding(36px 0 50px);
        &-related {
            @include padding-top(50px);
            h2 {
                @include font-size(30);
                font-weight: $weightLight;
                @include padding-bottom(20px);
                text-align: center;
            }
        }
    }
    &__form {
        background: $blue none repeat scroll 0 0;
        @include border-radius(4px);
        @include padding(27px 9px);
        .owner {
            &__type {
                font-weight: $weightBold;
                text-transform: uppercase;
                margin-bottom: 10px;
                @include font-size(12);
            }
            &__image {
                @include size(60px);
                object-fit: cover;
            }
            &__name {
                margin-top: 5px;
                @include font-size(14);
            }
            &__form {
                h4 {
                    margin: 21px 0 12px;
                    @include font-size(12);
                }
                .form-control {
                    @include border-radius(25px);
                    @include font-size(14);
                    line-height: 1.25;
                }
                .button {
                    @include font-size();
                    font-weight: $weightBold; 
                }
            }
        }
        &.no-bg {
            background: none repeat scroll 0 0;
        }
    }
    &__content {
        .highlighters {
            overflow: hidden;
            &__section {
                display: flex;
                width: $viewportSize;
                @include padding(20px 0); 
                + .highlighters__section {
                    border-top: 1px solid $border2;
                }
                &.main {
                    .highlighters__head {
                        @include font-size(24);
                        line-height: 1.2;
                        span {
                            @include font-size();
                            line-height: 1.2;
                            display: block;
                            color: #acacb7;
                            margin-top: 5px;
                        }
                    }
                }
                @media #{$media-ipadPortrait} {
                    display: block;
                } 
            }
            &__head {
                width: 30%;
                @include padding-right(15px);
                @include font-size(17);
                line-height: 1.4;
                @media #{$media-ipadPortrait} {
                    width: $viewportSize;
                    margin-bottom: 15px;
                }
            }
            &__content {
                width: 70%;
                @include font-size(17);
                line-height: 1.4;
                font-weight: $weightLight;
                @include padding-right(20px);
                @media #{$media-ipadPortrait} {
                    width: $viewportSize;
                }
                p {
                    @include font-size(17);
                    line-height: 1.4; 
                } 
                .tab__view li { 
                    &:hover, &:focus {
                        @include opacity(0.3);
                    }
                    &.active {
                        &:hover, &:focus {
                            @include opacity(1);
                        }
                    }
                    a {
                        cursor: default;
                    }
                }
                .listing {
                    overflow: hidden;
                    li {
                        width: calc(#{$viewportSize} / 2);
                        font-weight: $weightLight;
                        float: left;
                        @include padding-right(20px);
                        margin-bottom: 8px;
                        @include font-size(17);
                        line-height: 1.4;
                        &:before {
                            content: '-';
                            margin-right: 5px;
                            @include font-size(20);
                        }
                    }
                }
                &.availablity {
                    height: 300px;
                    background-image: url('../images/calender.jpg');
                    justify-content: center;
                    align-items: center;
                    display: flex; 
                    @extend .image-covered;
                    @media #{$media-smallDevices}, #{$media-ipadLandscape}, #{$media-ipadPortrait} {
                        height: 250px;
                    }
                    @media #{$media-tablet} {
                        height: 200px; 
                    }
                    .button {
                        width: 50%;
                        @include font-size();
                        line-height: 1;
                        font-weight: $weightBold;
                        text-align: center;
                        @include padding(12px 16px);
                        @media #{$media-tablet} {
                            width: 70%;
                        }
                    }
                }
                iframe {
                    width: $viewportSize;
                }
            }
        }
    }
    /* Begin Article post section */
    &__post {
        &-header {
            background: darken($white, 8%) none repeat scroll 0 0;
            @include padding(15px 20px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .post {
                &__profile {
                    a {
                        display: flex;
                        align-items: center;
                    }
                    &-image {
                        @include size(56px);
                        @include border-radius(50%);
                    }
                    &-name {
                        margin-left: 10px;
                        font-weight: $weightBold;
                        @include font-size(14);
                        line-height: 1;
                    }
                    @media #{$media-tablet} {
                        margin-bottom: 15px;
                    }
                }
            }
            @media #{$media-tablet} {
                flex-direction: column;
                justify-content: center;
            }
        }
        &-content {
            margin-top: 30px;
            .blog__details {
                &-intro {
                    display: flex;
                    justify-content: space-between;
                    a {
                        @include font-size(14);
                        border-bottom: 1px solid $border;
                        text-transform: capitalize;
                        display: inline-block;
                        font-weight: $weightBold;
                        margin-bottom: 15px;
                        @include transition(all 0.3s ease);
                        &:hover, &:focus {
                            color: darken($blue, 12%);
                        }
                    }
                    @media #{$media-tablet} {
                        display: block;
                    }
                }
                &-date {
                    font-weight: $weightBold;
                    @include font-size(14);
                    @media #{$media-tablet} {
                        display: block;
                    }
                }
                &-title {
                    @include font-size(40);
                    font-weight: $weightBold;
                    margin-bottom: 15px;
                }
            }
        }
    }
    &__body {
        border-top: 5px solid darken($white, 8%);
        border-bottom: 5px solid darken($white, 8%);
        @include padding(20px 0);
        margin: 10px 0 30px;
        h1, h2, h3, h4, h5, h6 {
            line-height: 1.4 !important;
            margin-bottom: 27px !important;
        }
        p, li, a {
            line-height: 1.8 !important;
        }
        h1 {
            @include font-size(40);
        }
        h2 {
            @include font-size(36);
        }
        h3 {
            @include font-size(32);
        }
        h4 {
            @include font-size(28);
        }
        h5 {
            @include font-size(22);
        }
        h6 {
            @include font-size(18);
        }
        p, li, a {
            @include font-size(16);
        }
        a {
            font-weight: $weightBold;
            border-bottom: 1px solid $border;
            @include transition(all 0.3s ease);
            &:hover, &:focus {
                color: darken($blue, 12%); 
            }
        }
        ol, ul {
            overflow: hidden;
            margin-bottom: 20px;
            padding-left: 25px;
            li {
                width: 100%;
                float: left;
                list-style-position: outside;
                padding-left: 7px;
                margin-bottom: 10px;
                > p {
                    margin-bottom: 0px; 
                }
            }
        }
        ul li {
            list-style-type: disc;
            span {
                position: relative;
                left: -22px;
            }
        }
        ol li {
            list-style-type: decimal;
        }
        img {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            height: auto !important;
            margin-top: 30px;
            margin-bottom: 60px;
            display: block;
        }
        figure {
            position: relative;
            margin-top: 30px;
            margin-bottom: 60px;
            float: left;
            img {
                margin-top: 0px;
                margin-bottom: 0px;
                display: block; 
            }
            figcaption {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgba($black, 0.7) none repeat scroll 0 0;
                color: $white;
                z-index: 30;
                padding: 10px 20px;
            }
        }
        blockquote {
            padding-left: 30px;
            margin-bottom: 27px;   
        }
        iframe {
            width: $viewportSize;
        }
    }
    /* End Article post section */
}