/* cards section
================================ */
.card {
    &__view {
        margin-bottom: 20px;
        &-content {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 400px;
            justify-content: flex-end;
            .mask {
                position: absolute;
                top: 0;
                left: 0;
                @include size($viewportSize);
                background-image: linear-gradient(rgba($zblack, 0), rgba($zblack, 0.8));
                z-index: 11; 
            }
            figure {
                @include size($viewportSize);
                position: absolute;
                z-index: 10;
                margin-bottom: 0;
                top: 0;
                left: 0;
            }
            .content__section {
                position: relative;
                z-index: 20;
                color: $white;
                @include padding(20px);
                &-channel {
                    @include padding(5px 25px);
                    text-transform: uppercase;
                    background: $blue none repeat scroll 0 0;
                    display: inline-block;
                    margin-bottom: 15px;
                }
                &-heading {
                    @include font-size(24);
                    font-weight: $weightBold;
                }
                &-description {
                    display: none; 
                    @include font-size(24); 
                }
                &-userInfo {
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    &-image {
                        @include size(40px);
                        @include border-radius(50%);
                        margin-right: 15px;
                    }
                    &-content {
                        .designation {
                            display: block;
                            @include font-size(12);
                            color: $grey;
                        }
                    }
                }
            }
        }
        /* Begin card Full style */
        &-full {
            &.single {
                .card__view-content {
                    height: 600px;
                    .content__section {
                        @include padding(0px 15px 50px);
                        width: 1140px;
                        margin: 0 auto;
                        @media #{$media-desktop} {
                            width: 960px; 
                        }
                        @media #{$media-ipadPortrait} {
                            width: 720px; 
                        }
                        @media #{$media-ipadSmall} {
                            width: 540px; 
                        }
                        @media #{$media-tablet} {
                            width: $viewportSize; 
                        }
                        &-heading {
                            @include font-size(48); 
                            font-weight: $weightBold;
                            margin-bottom: 15px; 
                        }
                        &-description {
                            display: block;
                        }
                    }
                }
            }
        }
        /* Begin card Full style */
        &-third {
            .card__view-content {
            }
        }
        /* Begin card without image style */
        &.withoutImage {
            .card__view-content {
                background: $blue none repeat scroll 0 0;
                figure {
                    display: none;
                }
            }
        }

        /* End card without image style */
    }
}