/* layout section
================================ */

/* Begin category section */
.category__wrapper {
    border-top: 1px solid $border;
    @include padding-top(20px);
    &-content {
        display: flex;
        flex-direction: column;
        @include padding-bottom(20px);
        height: $viewportSize;
        justify-content: space-between;
        &-head {
            .headlines {
                @include font-size(20);
                font-weight: $weightBold;
                margin-bottom: 5px;
            }
            .date {
                @include font-size(14);
            }
            .content {
                margin-top: 15px;
                .button-follow {
                    margin-top: 15px;
                    border: 1px solid $border;
                    &.active {
                        border-color: $blue;
                        background: $blue none repeat scroll 0 0;
                        color: $white;
                    }
                }
            }
        }
        &-tags {
            margin-top: 20px;
            li {
                color: $black; 
                display: inline-block;
                @include padding(2px 15px);
                margin-right: 4px;
                margin-bottom: 4px;
                border: 1px solid $borderlight;
                text-transform: $uppercase;
                letter-spacing: 1px;

                &.active {
                    background: $blue;
                    border: solid 1px $blue;
                    color: $white;
                }
            }
        }
    }  
}
/* End category section */


/* Begin Subscribe section */
.subscribe__wrapper {
    @include padding(45px 0);
    position: relative;
    margin-bottom: 20px;
    &.bgImg {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            @include size($viewportSize);
            background: rgba($blue, 0.9) none repeat scroll 0 0;
            z-index: 10;
        }
    }
    &-content {
        position: relative;
        z-index: 11;
        color: $white;
        max-width: 500px;
        margin: 0 auto;
        h2 {
            text-transform: uppercase;
            @include font-size(24);
            font-weight: $weightRegular; 
            letter-spacing: 1px;
            margin-bottom: 15px;
        }
        .form-section {
            margin-bottom: 15px;
            .form-control {
                width: 60%;
                margin: 0 auto 20px; 
                @include border-radius(0px); 
            }
        }
        .small-text {
            @include font-size(12);
            color: darken($white, 8%);
            margin-top: 35px;
            a {
                border-bottom: 1px solid $white;
                color: $white; 
            }
        }
        .button {
            border-color: $white;
            @include font-size(18);
            letter-spacing: 3px;
            &.button-sized {
                width: 40%;
            }
        }
        &.extended-space {
            max-width: 800px;
            p {
                @include font-size(18);
                letter-spacing: 2px;
                line-height: 1.5;
            }
        }
    }
}
/* End Subscribe section */


/* Begin Follow grid section */

.followers {
    &__grid {
        h3 {
            @include font-size();
            font-family: $secondaryFont-regular;
            text-transform: uppercase;
            border-bottom: 1px solid $borderlight;
            text-align: center;
            @include padding-bottom(8px);
        }
        ul li {
            width: $viewportSize;
            a {
                @include flexbox();
                align-items: center;
                width: $viewportSize;
                justify-content: space-between;
                @include padding(15px 0);
            }
            figure {
                @include size(40px);
                margin-right: 20px;
                img {
                    @include size($viewportSize);
                    object-fit: cover; 
                }
            }
        }
        &-content {
            margin-right: 20px;
            h4 {
                @include font-size(14);
                letter-spacing: 1.5px;
                font-family: $secondaryFont-bold;
                margin-bottom: 8px;
            }
            p {
                margin-bottom: 0px;
                letter-spacing: 1px;
            }
        }
        &-follow {
            @include size(20px);
            border: 1px solid $black;
            @include border-radius(50%);
            position: relative;
            cursor: pointer;
            z-index: 10;
            &:before {
                content: '\f067';
                font-family: $iconfont; 
                @include font-size(11);
                line-height: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%,-50%);
            }
            &.following {
                &:before {
                    content: '\f00d';
                }
            }
        }
    }
}

/* End Follow grid section */

