/* Global Fonts Path
   ================================== */

$fonts-roboto-path:        "../fonts/roboto-condensed";

/* Roboto Font */
@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('#{$fonts-roboto-path}/RobotoCondensedLight.eot');
    src: url('#{$fonts-roboto-path}/RobotoCondensedLight.eot') format('embedded-opentype'),
         url('#{$fonts-roboto-path}/RobotoCondensedLight.woff2') format('woff2'),
         url('#{$fonts-roboto-path}/RobotoCondensedLight.woff') format('woff'),
         url('#{$fonts-roboto-path}/RobotoCondensedLight.ttf') format('truetype'),
         url('#{$fonts-roboto-path}/RobotoCondensedLight.svg#RobotoCondensedLight') format('svg');
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('#{$fonts-roboto-path}/RobotoCondensedRegular.eot');
    src: url('#{$fonts-roboto-path}/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('#{$fonts-roboto-path}/RobotoCondensedRegular.woff2') format('woff2'),
         url('#{$fonts-roboto-path}/RobotoCondensedRegular.woff') format('woff'),
         url('#{$fonts-roboto-path}/RobotoCondensedRegular.ttf') format('truetype'),
         url('#{$fonts-roboto-path}/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('#{$fonts-roboto-path}/RobotoCondensedBold.eot');
    src: url('#{$fonts-roboto-path}/RobotoCondensedBold.eot') format('embedded-opentype'),
         url('#{$fonts-roboto-path}/RobotoCondensedBold.woff2') format('woff2'),
         url('#{$fonts-roboto-path}/RobotoCondensedBold.woff') format('woff'),
         url('#{$fonts-roboto-path}/RobotoCondensedBold.ttf') format('truetype'),
         url('#{$fonts-roboto-path}/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}


