/* Global Fonts Path
   ================================== */

$fonts-roboto-path:        "../fonts/roboto-condensed";
$fonts-texgyreschola-path:        "../fonts/texgyreschola";

/* Roboto Font */
@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('#{$fonts-roboto-path}/RobotoCondensedLight.eot');
    src: url('#{$fonts-roboto-path}/RobotoCondensedLight.eot') format('embedded-opentype'),
         url('#{$fonts-roboto-path}/RobotoCondensedLight.woff2') format('woff2'),
         url('#{$fonts-roboto-path}/RobotoCondensedLight.woff') format('woff'),
         url('#{$fonts-roboto-path}/RobotoCondensedLight.ttf') format('truetype'),
         url('#{$fonts-roboto-path}/RobotoCondensedLight.svg#RobotoCondensedLight') format('svg');
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('#{$fonts-roboto-path}/RobotoCondensedRegular.eot');
    src: url('#{$fonts-roboto-path}/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('#{$fonts-roboto-path}/RobotoCondensedRegular.woff2') format('woff2'),
         url('#{$fonts-roboto-path}/RobotoCondensedRegular.woff') format('woff'),
         url('#{$fonts-roboto-path}/RobotoCondensedRegular.ttf') format('truetype'),
         url('#{$fonts-roboto-path}/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('#{$fonts-roboto-path}/RobotoCondensedBold.eot');
    src: url('#{$fonts-roboto-path}/RobotoCondensedBold.eot') format('embedded-opentype'),
         url('#{$fonts-roboto-path}/RobotoCondensedBold.woff2') format('woff2'),
         url('#{$fonts-roboto-path}/RobotoCondensedBold.woff') format('woff'),
         url('#{$fonts-roboto-path}/RobotoCondensedBold.ttf') format('truetype'),
         url('#{$fonts-roboto-path}/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}

/* texgyreschola Font */

@font-face {
    font-family: 'texgyrescholaregular';
    src: url('#{$fonts-texgyreschola-path}/texgyrescholaregular.eot');
    src: url('#{$fonts-texgyreschola-path}/texgyrescholaregular.eot') format('embedded-opentype'),
         url('#{$fonts-texgyreschola-path}/texgyrescholaregular.woff2') format('woff2'),
         url('#{$fonts-texgyreschola-path}/texgyrescholaregular.woff') format('woff'),
         url('#{$fonts-texgyreschola-path}/texgyrescholaregular.ttf') format('truetype'),
         url('#{$fonts-texgyreschola-path}/texgyrescholaregular.svg#texgyrescholaregular') format('svg');
}
@font-face {
    font-family: 'texgyrescholabold';
    src: url('#{$fonts-texgyreschola-path}/texgyrescholabold.eot');
    src: url('#{$fonts-texgyreschola-path}/texgyrescholabold.eot') format('embedded-opentype'),
         url('#{$fonts-texgyreschola-path}/texgyrescholabold.woff2') format('woff2'),
         url('#{$fonts-texgyreschola-path}/texgyrescholabold.woff') format('woff'),
         url('#{$fonts-texgyreschola-path}/texgyrescholabold.ttf') format('truetype'),
         url('#{$fonts-texgyreschola-path}/texgyrescholabold.svg#texgyrescholabold') format('svg');
}
