
{% set socialBg = "background-image: url('"~network.templatePath~"/static/images/demo.jpg');" %}
<footer class="footer">
    <div class="footer__top image-covered" style="{{socialBg}}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer__top-content">
                        <h2>Join the conversation</h2>
                        <div class="footer__top-listing">
                            <ul>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-tumblr-square"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-youtube-square"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-weibo"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="footer__main-content">
                                <div class="section__head blue-text">
                                    <h3>Quick Links</h3>
                                </div>
                                <div class="footer__main-content-listing multiple">
                                    <ul>
                                        <li>
                                            <a href="javascript:;">Important dates</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Pay Online</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Eat, drink, shop</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Library</a>
                                        </li>                                            
                                        <li>
                                            <a href="javascript:;">Maps</a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">Jobs at Monash</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Recruit a student</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Indigenous Australians</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Safer community</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Study online</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="footer__main-content">
                                <div class="section__head blue-text">
                                    <h3>About Monash</h3>
                                </div>
                                <div class="footer__main-content-listing">
                                    <ul>
                                        <li>
                                            <a href="javascript:;">Faculties</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Campuses</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">A-Z index</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Contact Monash</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Media releases</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="footer__main-content">
                                <div class="section__head blue-text">
                                    <h3>On our site</h3>
                                </div>
                                <div class="footer__main-content-listing">
                                    <ul>
                                        <li>
                                            <a href="javascript:;">Current students</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Staff</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Site map</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="footer__main-content">
                        <div class="section__head blue-text">
                            <h3>A member of</h3>
                            {% set memberLogo = network.templatePath~'/static/images/group-eight.png' %}
                            <div class="footer__main-content-logo">
                                <a href="javascript:;">
                                    <img src="{{memberLogo}}" class="img-fluid" alt="image" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer__main-content">
                        <div class="disclaimer-text">
                            Authorised by: Chief Marketing Officer, Strategic Marketing and Communications. Maintained by: eSolutions Service Desk. Last updated: Aug 2017.<br/>
                            Copyright &copy; 2017 Monash University. ABN 12 377 614 012 Accessibility - Disclaimer and copyright - Privacy, Monash University CRICOS Provider Number: 00008C, Monash College CRICOS Provider Number: 01857J. Monash University is a registered higher education provider under the TEQSA Act 2011.<br/>
                            We acknowledge and pay respects to the Elders and Traditional Owners of the land on which our five Australian campuses stand. Information for Indigenous Australians
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>