<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header__main d-flex">
                    <aside class="header__main-left">
                        <div class="header__main-logo">
                            {% set mainLogo = network.templatePath~'/static/images/logo-white.svg' %}
                            {% set mainLogoScroll = network.templatePath~'/static/images/logo.svg' %}
                            
                            <a href="javascript:;">
                                <img class="logo__main img-fluid" src="{{mainLogo}}" alt="image" />
                                <img class="logo__scroll img-fluid" src="{{mainLogoScroll}}" alt="image" />
                            </a>
                        </div>
                    </aside>
                    <aside class="header__main-right">
                        sdsd
                    </aside>
                </div>
            </div>
        </div>
    </div>
</header>