/* User profile style
   ================================== */

.user {
    &__profile {
        &-banner {
            height: 600px;
            &:before {
                content: '';
                position: absolute;
                z-index: 10;
            }
        }
    }
}