@charset "utf-8";  
/* CSS Document */ 

/*! ATTENTION:This project uses SASS! Please make your CSS edits in sass/default.scss. */

/* Basic Includes
   ================================ */
@import 'variables'; 
@import 'misc/mixins';
@import 'misc/reset';
@import 'misc/custom_grid';
@import 'misc/container';
@import 'misc/extends'; 
/*@import 'misc/fonts'; */ 
@import 'misc/typography'; 
@import 'misc/positioning';
 
/* Begin Basic Coding
   ================================ */
/* Basic
----------------------------- */
html,
body {
    @include size($viewportSize);
    min-height: 100% !important;
}
body {
    height: auto; 
    background:$white none repeat scroll 0 0;
    color: $baseColor;
    font-family: $primaryFont !important;
    font-weight: $weightRegular;
}
ul li, ol li {
    font-weight: $weightRegular;
}
.category__wrapper {
    border-top: 3px solid $border;
    @include padding-top(20px);
    &-content {
        display: flex;
        flex-direction: column;
        @include padding-bottom(20px);
        height: $viewportSize;
        justify-content: space-between;
    }
    &-tags {
        
    }
}

/* End Basic Coding
   ================================ */

/* Miscellaneous Includes
   ================================ */
@import 'misc/wrapper';
@import 'misc/globalClasses';

/* Elements Includes
   ================================ */

@import 'elements/key_elements/buttons';
@import 'elements/key_elements/form';
@import 'elements/pagecontrols/pageheader'; 
@import 'elements/pagecontrols/pagefooter';

@import 'elements/navigation/responsive_navigation';
@import 'elements/key_elements/cards';
@import 'elements/key_elements/tab_view';
@import 'elements/key_elements/banner_section';
@import 'elements/key_elements/articles';
@import 'elements/key_elements/channel_overview';
@import 'elements/key_elements/account-modal';
@import 'elements/key_elements/search';
@import 'elements/key_elements/blog';
@import 'elements/key_elements/contact';
@import 'elements/key_elements/modal';
@import 'elements/dependencies_Breakup';

/* Elements Includes
   ================================ */